/* Material Icons */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(./fonts/MaterialSymbolsOutlined.woff2) format('woff');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    margin: 10px 0;
}

.uppercase {
    text-transform: uppercase;
}

.right-align, .right-align span, .right-align p {
    text-align: right;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #d6d8da;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    width: auto;
    /* max-width: 100%; */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container-spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    margin: 0;
}

.flex {
    flex: 1;
}

#car-list {
    flex: 1;
    background-color: whitesmoke;
    padding: 10px;
    /* background-color: #d6d8da; */
    /* border: 1px solid black; */
}

.results-factor {
    font-size: 12px;
    margin: 0;
}

.list-properties {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-between; */
}

.list-property-icon {
    margin-right: 3px;
    color: #007DFC;
    font-size: 18px;
}

.list-property-text {
    font-size: 12px;
    color: #383838;
    /* font-weight: bold; */
    margin: 0;
}

.list-property/*, .car-chips*/ {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.list-property:last-of-type {
    margin-right: unset;
}

.car {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    transition: box-shadow 0.3s ease-in-out;
}

.car-image-preview {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.list-bigtext {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.list-smalltext {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    margin: 0;
}

.car:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#car-details {
    flex: 2;
    margin: 0 10px;
    /* border: 1px solid black; */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul li:hover > ul {
    display: block;
    background-color: white;
}

nav ul ul li:hover {
    background-color: lightgray;
}

.true span {
    color: black;
}

.false span {
    color: lightgray;
}

#car-image {
    width: 100%;
    border-radius: 10px;
}

.chip {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    border-radius: 20px;
    font-size: 12px;
    width: auto;
    font-weight: bold;
}

.available {
    background-color: #d6ffd6;
    color: darkgreen;
    border: 1px solid #b6dab6;
}

.unavailable {
    background-color: #ffd6d6;
    color: darkred;
    border: 1px solid #dab6b6;
}

.chip-neutral {
    background-color: white;
    color: black;
    border: 1px solid #b6b8ba;
}