/* Material Icons */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(./fonts/MaterialSymbolsOutlined.woff2) format('woff');
}

* {
    transition: background-color 0.3s;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* Variables */
:root {
    --primary-color: #007DFC;
    --secondary-color: #383838;
    --background-color: whitesmoke;
    --text-color: #000;
    --hover-color: rgba(0, 0, 0, 0.05);
    --available-color: #d6ffd6;
    --unavailable-color: #ffd6d6;
    --neutral-color: #fff;
    --border-color: #d6d8da;
}

/* Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
}

h2 {
    margin-top: 0;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid var(--border-color);
}

.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.85);
        color: #fff;
        text-align: center;
        padding: 5px 10px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        white-space: nowrap;
        width: auto;
        /* max-width: 100%; */
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.container {
    display: flex;
    margin: 0;
}

/* Header */
header {
    background-color: var(--neutral-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: sticky;
    top: 0;
    margin-left: 0;
    z-index: 1;
    border-bottom: 1px solid var(--border-color);
}

header #logo-div {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto 15px;
    text-decoration: none;
    color: var(--text-color);
}

header #top-bar-logo {
    font-size: 300%;
    font-weight: bold;
}

header #top-bar-logo-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

header #top-bar-location {
    font-size: 24px;
}

header #reservation-div {
    margin-right: 15px;
    padding: 10px 0;
}

header #reset-button {
    height: 100%;
    padding: 0 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: red;
    color: var(--neutral-color);
}

header #reset-button:hover {
    cursor: pointer;
    background-color: darkred;
}


/* Rest */
.true span {
    color: black;
}

.false span {
    color: lightgray;
}

.big-button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--neutral-color);
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

    .big-button:hover {
        cursor: pointer;
        background-color: var(--text-color);
    }

    .flex .big-button {
        height: 100%;
    }


.chip {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    border-radius: 20px;
    font-size: 12px;
    width: auto;
    font-weight: bold;
}

    .chip.available {
        background-color: #d6ffd6;
        color: darkgreen;
        border: 1px solid #b6dab6;
    }

    .chip.unavailable {
        background-color: #ffd6d6;
        color: darkred;
        border: 1px solid #dab6b6;
    }

    .chip-premium {
        background-color: #ffec83;
        color: #4d3d00;
        border: 1px solid #d6d6b6;
    }

    .chip-ev {
        background-color: #b3e0ff;
        color: #004d66;
        border: 1px solid #b6d6da;

    }

    .chip-neutral {
        background-color: white;
        color: black;
        border: 1px solid #b6b8ba;
    }

.rentnow.unavailable {
    background-color: var(--border-color);
    color: var(--secondary-color);
    cursor: not-allowed;
}

main {
    display: flex;
}

#reservation-overview, #reservation-details {
    /* flex-grow: 1; */
    flex: 1;
    /* width: 50%; */
}

#customer-data, #car-details, #price-info {
    margin: 20px;
}

#car-details, #price-info {
    padding: 20px;
    max-width: 600px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

#car-img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

form input {
    margin-bottom: 15px;
}

.warning {
    background-color: var(--unavailable-color);
    max-width: 100%;
    margin: 10px;
    padding: 15px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

form input, form select {
    width: 100%;
    flex-grow: 1;
    height: 35px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: box-shadow 0.2s ease-in-out;
}

form input {
    font-size: large;
}

form label {
    font-size: small;
}

form input:focus, form input:focus-visible, form select:focus, form select:focus-visible {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--primary-color);
    outline: none;
}

form .flex {
    display: flex;
    gap: 20px;
}

form .flex div {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    td:nth-child(2) {
        text-align: right;
    }

    tr:last-child {
        background-color: #f2f2f2;
        font-weight: bold;
    }